
body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
    color: #333;
}


.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
}

h1 {
    text-align: center;
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}


.btn {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #0056b3;
    transition: 0.3s ease;
}


form {
    padding: 20px 0;
}


@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
    h1 {
        font-size: 20px;
    }
    button {
        font-size: 14px;
    }
}
